{% for job in jobs %}
<div class="job-container" style="margin-bottom: 10px;">
    <h2>{{ job.title|raw }}</h2>
    <div class="row job-info-container">
        {% if job.short_description|length != 0 %}
        <div class="col job-info">
            <h4>Description:</h4>
            <p>{{ job.short_description|raw }}</p>
        </div>
        {% endif %}
        {% if job.requirements|length != 0 %}
        <div class="col job-info">
            <h4>Requirements:</h4>
            <p>{{ job.requirements|raw }}</p>
        </div>
        {% endif %}
    </div>
    <a href="{{ '/careers/apply/' ~ job.id }} " class="apply-btn">Apply Now</a>
</div>
{% endfor %}
