{{ form_ajax('onFormSubmission') }}
<div class="form-container">
    <h2 style="text-decoration: underline; margin-bottom: 20px;">{{ job.title }}</h2>
    <div class="form-section">
        <h4>Personal Information</h4>
        <br/>
        <div class="row">
            <div class="col inputs-group">
                <label for="firstName" class="input-label">First Name
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
                <input
                    name="application[first_name]"
                    type="text"
                    class="input-text"
                    id="firstName"
                    required />
            </div>
            <div class="col inputs-group">
                <label for="lastName" class="input-label">Last Name
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
                <input
                    name="application[last_name]"
                    type="text"
                    class="input-text"
                    id="lastName"
                    required />
            </div>
        </div>
        <div class="row">
            <div class="col inputs-group">
                <label for="streetAddress1" class="input-label">Current Address</label>
                <input
                    name="application[street_address_1]"
                    type="text"
                    class="input-text"
                    id="streetAddress1"
                    required />
                <label class="input-sub-label">Street Address 1
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
            </div>
            <div class="col inputs-group">
                <br/>
                <input
                    name="application[street_address_2]"
                    type="text"
                    class="input-text"
                    id="streetAddress2" />
                <label for="streetAddress2" class="input-sub-label">Street Address 2</label>
            </div>
        </div>
        <div class="row">
            <div class="col inputs-group">
                <input
                    name="application[city]"
                    type="text"
                    class="input-text"
                    id="city" />
                <label for="city" class="input-sub-label">City
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
            </div>
            <div class="col inputs-group">
                <select name="application[state]" class="input-text" id="state" required>
                    <option value="Maryland">Maryland</option><option value="Alaska">Alaska</option><option value="Alabama">Alabama</option>
                    <option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="California">California</option>
                    <option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option>
                    <option value="District of Columbia">District of Columbia</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option>
                    <option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                </select>
                <label for="state" class="input-sub-label">State
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
            </div>
            <div class="col inputs-group">
                <input
                    name="application[zip_code]"
                    type="text"
                    class="input-text"
                    id="zipCode"
                    pattern="[0-9]{5}|[0-9]{5}-[0-9]{4}"
                    placeholder="12345 or 12345-6789"
                    required />
                <label for="zipCode" class="input-sub-label">Zip/Postal
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col inputs-group">
                <label for="phoneNumber" class="input-label">Phone Number
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
                <input
                    name="application[phone_number]"
                    type="text"
                    class="input-text"
                    id="phoneNumber"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}|[0-9]{10}"
                    placeholder="123-456-7890"
                    required />
            </div>
            <div class="col inputs-group">
                <label for="phoneNumber2" class="input-label">Secondary Phone Number</label>
                <input
                    name="application[phone_number_2]"
                    type="text"
                    class="input-text"
                    id="phoneNumber"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}|[0-9]{10}"
                    placeholder="123-456-7890" />
            </div>
            <div class="col inputs-group">
                <label for="email" class="input-label">Email
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
                <input
                    name="application[email]"
                    type="email"
                    class="input-text"
                    id="email"
                    required />
            </div>
        </div>
    </div>
    <div class="form-section">
        <h4>Employment Desired</h4>
        <div class="row">
            <div class="col inputs-group">
                <label for="startDate" class="input-label">Date You Can Start
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
                <input
                    name="application[start_date]"
                    type="date"
                    class="input-text"
                    id="startDate"
                    required />
            </div>
            <div class="col inputs-group">
                <label for="desiredSalary" class="input-label">Desired Salary</label>
                <input
                    name="application[desired_salary]"
                    type="text"
                    class="input-text"
                    id="desiredSalary" />
            </div>
        </div>
        <div class="row">
            <div class="col inputs-group">
                <label class="input-label">Are you currently employed?
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
                <div class="input-radio-container">
                    <div class="input-radio-element">
                        <input
                            name="application[currently_employed]"
                            type="radio"
                            id="currentlyEmployedYes"
                            value="Yes"
                            style="margin-right: 5px;"
                            required />
                        <label for="currentlyEmployedYes">Yes</label>
                    </div>
                    <div class="input-radio-element">
                        <input
                            name="application[currently_employed]"
                            type="radio"
                            id="currentlyEmployedNo"
                            value="No"
                            style="margin-right: 5px;"
                            required />
                        <label for="currentlyEmployedNo">No</label>
                    </div>
                </div>
            </div>
            <div class="col inputs-group currentEmployerGroup" id="contactEmployer" style="display: none;">
                <label class="input-label">Can we contact your employer?</label>
                <div class="input-radio-container">
                    <div class="input-radio-element">
                        <input
                            name="application[contact_employer]"
                            type="radio"
                            id="contactEmployerYes"
                            value="Yes"
                            style="margin-right: 5px;" />
                        <label for="contactEmployerYes">Yes</label>
                    </div>
                    <div class="input-radio-element">
                        <input
                            name="application[contact_employer]"
                            type="radio"
                            id="contactEmployerNo"
                            value="No"
                            checked="checked"
                            style="margin-right: 5px;" />
                        <label for="contactEmployerNo">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row currentEmployerGroup" id="employerInfo" style="display: none;">
            <div class="col inputs-group">
                <label for="employerName" class="input-label">Current Employer's Name</label>
                <input
                    name="application[employer_name]"
                    type="text"
                    class="input-text"
                    id="employerName" />
            </div>
            <div class="col inputs-group">
                <label for="employerNumber" class="input-label">Current Employer's Phone Number</label>
                <input
                    name="application[employer_number]"
                    type="text"
                    class="input-text"
                    id="employerNumber"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}|[0-9]{10}"
                    placeholder="123-456-7890" />
            </div>
            <div class="col inputs-group">
                <label for="employerEmail" class="input-label">Current Employer's Email</label>
                <input
                    name="application[employer_email]"
                    type="email"
                    class="input-text"
                    id="employerEmail" />
            </div>
        </div>
        <div class="row">
            <div class="col inputs-group">
                <label class="input-label">Have you ever previously applied to work here?
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
                <div class="input-radio-container">
                    <div class="input-radio-element">
                        <input
                            name="application[previously_applied]"
                            type="radio"
                            id="previouslyAppliedYes"
                            value="Yes"
                            style="margin-right: 5px;"
                            required />
                        <label for="previouslyAppliedYes">Yes</label>
                    </div>
                    <div class="input-radio-element">
                        <input
                            name="application[previously_applied]"
                            type="radio"
                            id="previouslyAppliedNo"
                            value="No"
                            style="margin-right: 5px;"
                            required />
                        <label for="previouslyAppliedNo">No</label>
                    </div>
                </div>
            </div>
            <div class="col inputs-group" style="display: none" id="appliedWhenContainer">
                <label for="appliedWhen" class="input-label">When did you previously apply?</label>
                <input
                    name="application[applied_when]"
                    type="text"
                    class="input-text"
                    id="appliedWhen" />
            </div>
        </div>
    </div>
    <div class="form-section">
        <h4>Education History</h4>
        <label class="input-label">Name & Location of High School Attended</label>
        <div class="row">
            <div class="col inputs-group">
                <input
                    name="application[high_school_name]"
                    type="text"
                    class="input-text"
                    id="highSchoolName"
                    required />
                <label for="highSchoolName" class="input-sub-label">High School Name
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
            </div>
            <div class="col inputs-group">
                <input
                    name="application[high_school_address]"
                    type="text"
                    class="input-text"
                    id="highSchoolAddress"
                    required />
                <label for="highSchoolAddress" class="input-sub-label">Street Address
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
            </div>
        </div>
        <div class="row">
            <div class="col inputs-group">
                <input
                    name="application[high_school_city]"
                    type="text"
                    class="input-text"
                    id="highSchoolCity"
                    required />
                <label for="highSchoolCity" class="input-sub-label">City
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
            </div>
            <div class="col inputs-group">
                <select name="application[high_school_state]" class="input-text" id="highSchoolState" required>
                    <option value="Maryland">Maryland</option><option value="Alaska">Alaska</option><option value="Alabama">Alabama</option>
                    <option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="California">California</option>
                    <option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option>
                    <option value="District of Columbia">District of Columbia</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option>
                    <option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                </select>
                <label for="highSchoolState" class="input-sub-label">State/Province
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
            </div>
            <div class="col inputs-group">
                <input
                    name="application[high_school_zip]"
                    type="text"
                    class="input-text"
                    id="highSchoolZip"
                    pattern="[0-9]{5}|[0-9]{5}-[0-9]{4}"
                    placeholder="12345 or 12345-6789"
                    required />
                <label for="highSchoolZip" class="input-sub-label">Zip/Postal
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col inputs-group">
                <label for="highSchoolYearsAttended" class="input-label">Years attended
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
                <input
                    name="application[high_school_years_attended]"
                    type="text"
                    class="input-text"
                    id="highSchoolYearsAttended"
                    pattern="[0-9]{4}-[0-9]{4}"
                    placeholder="Start year-End year"
                    required />
            </div>
            <div class="col inputs-group">
                <label for="graduatedHighSchool" class="input-label">Did you graduate?
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
                <select name="application[graduated_high_school]" class="input-text" id="graduatedHighSchool" required>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="Still Attending">Still Attending</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col inputs-group">
                <label class="input-label">Did you attend college?
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
                <div class="input-radio-container">
                    <div class="input-radio-element">
                        <input
                            name="application[attended_college]"
                            type="radio"
                            id="attendedCollegeYes"
                            value="Yes"
                            style="margin-right: 5px;"
                            required />
                        <label for="attendedCollegeYes">Yes</label>
                    </div>
                    <div class="input-radio-element">
                        <input
                            name="application[attended_college]"
                            type="radio"
                            id="attendedCollegeNo"
                            value="No"
                            style="margin-right: 5px;"
                            required />
                        <label for="attendedCollegeNo">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="collegeInfo" style="display: none;">
            <div class="row">
                <div class="col inputs-group">
                    <label class="input-label">Name & Location of College Attended</label>
                    <input
                        name="application[college_name]"
                        type="text"
                        class="input-text"
                        id="collegeName" />
                    <label for="collegeName" class="input-sub-label">College Name</label>
                </div>
                <div class="col inputs-group">
                    <label for="collegeMajor" class="input-label">Field(s) of Study</label>
                    <input
                        name="application[college_major]"
                        type="text"
                        class="input-text"
                        id="collegeMajor" />
                </div>
                <div class="col inputs-group">
                    <label for="degreeEarned" class="input-label">Highest Degree Earned</label>
                    <input
                        name="application[degree_earned]"
                        type="text"
                        class="input-text"
                        id="degreeEarned" />
                </div>
            </div>
            <div class="row">
                <div class="col inputs-group">
                    <input
                        name="application[college_address]"
                        type="text"
                        class="input-text"
                        id="collegeAddress" />
                    <label for="collegeAddress" class="input-sub-label">Street Address</label>
                </div>
            </div>
            <div class="row">
                <div class="col inputs-group">
                    <input
                        name="application[college_city]"
                        type="text"
                        class="input-text"
                        id="collegeCity" />
                    <label for="collegeCity" class="input-sub-label">City</label>
                </div>
                <div class="col inputs-group">
                    <select name="application[college_state]" class="input-text" id="collegeState">
                        <option value="Maryland">Maryland</option><option value="Alaska">Alaska</option><option value="Alabama">Alabama</option>
                        <option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="California">California</option>
                        <option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option>
                        <option value="District of Columbia">District of Columbia</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option>
                        <option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option>
                        <option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option>
                        <option value="Maine">Maine</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option>
                        <option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option>
                        <option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option>
                        <option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option>
                        <option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option>
                        <option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option>
                        <option value="Pennsylvania">Pennsylvania</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option>
                        <option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option>
                        <option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virginia">Virginia</option>
                        <option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option>
                        <option value="Wyoming">Wyoming</option>
                    </select>
                    <label for="collegeState" class="input-sub-label">State/Province</label>
                </div>
                <div class="col inputs-group">
                    <input
                        name="application[college_zip]"
                        type="text"
                        class="input-text"
                        id="collegeZip"
                        pattern="[0-9]{5}|[0-9]{5}-[0-9]{4}"
                        placeholder="12345 or 12345-6789" />
                    <label for="collegeZip" class="input-sub-label">Zip/Postal</label>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col inputs-group">
                    <label for="collegeYearsAttended" class="input-label">Years Attended</label>
                    <input
                        name="application[college_years_attended]"
                        type="text"
                        class="input-text"
                        id="collegeYearsAttended"
                        pattern="[0-9]{4}-[0-9]{4}"
                        placeholder="Start year-End year" />
                </div>
                <div class="col inputs-group">
                    <label for="graduatedCollege" class="input-label">Did you graduate?</label>
                    <select name="application[graduated_college]" class="input-text" id="graduatedCollege">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="Still Attending">Still Attending</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col inputs-group">
                <label class="input-label">Did you attend a trade school, business, or correspondence school?
                    <i class="fa-solid fa-asterisk fa-2xs"
                       style="color: lightcoral;"></i></label>
                <div class="input-radio-container">
                    <div class="input-radio-element">
                        <input
                            name="application[attended_trade_school]"
                            type="radio"
                            id="attendedTradeSchoolYes"
                            style="margin-right: 5px;"
                            value="Yes"
                            required />
                        <label for="attendedTradeSchoolYes">Yes</label>
                    </div>
                    <div class="input-radio-element">
                        <input
                            name="application[attended_trade_school]"
                            type="radio"
                            id="attendedTradeSchoolNo"
                            style="margin-right: 5px;"
                            value="No"
                            required />
                        <label for="attendedTradeSchoolNo">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="tradeSchoolInfo" style="display: none;">
            <div class="row">
                <div class="col">
                    <label class="input-label">Name & Location of School Attended</label>
                    <div class="inputs-group">
                        <input
                            name="application[trade_school_name]"
                            type="text"
                            class="input-text"
                            id="tradeSchoolName" />
                        <label for="tradeSchoolName" class="input-sub-label">School Name</label>
                    </div>
                    <div class="inputs-group">
                        <input
                            name="application[trade_school_address]"
                            type="text"
                            class="input-text"
                            id="tradeSchoolAddress" />
                        <label for="tradeSchoolAddress" class="input-sub-label">Street Address</label>
                    </div>
                </div>
                <div class="col inputs-group">
                    <label for="tradeSchoolSubjects" class="input-label">Subjects Studied</label>
                    <textarea
                        name="application[trade_school_subjects]"
                        class="input-text"
                        id="tradeSchoolSubjects"
                        style="resize: none; height: 100%;"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col inputs-group">
                    <input
                        name="application[trade_school_city]"
                        type="text"
                        class="input-text"
                        id="tradeSchoolCity" />
                    <label for="tradeSchoolCity" class="input-sub-label">City</label>
                </div>
                <div class="col inputs-group">
                    <select name="application[trade_school_state]" class="input-text" id="tradeSchoolState">
                        <option value="Maryland">Maryland</option><option value="Alaska">Alaska</option><option value="Alabama">Alabama</option>
                        <option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="California">California</option>
                        <option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option>
                        <option value="District of Columbia">District of Columbia</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option>
                        <option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option>
                        <option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option>
                        <option value="Maine">Maine</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option>
                        <option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option>
                        <option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option>
                        <option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option>
                        <option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option>
                        <option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option>
                        <option value="Pennsylvania">Pennsylvania</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option>
                        <option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option>
                        <option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virginia">Virginia</option>
                        <option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option>
                        <option value="Wyoming">Wyoming</option>
                    </select>
                    <label for="tradeSchoolState" class="input-sub-label">State/Province</label>
                </div>
                <div class="col inputs-group">
                    <input
                        name="application[trade_school_zip]"
                        type="text"
                        class="input-text"
                        id="tradeSchoolZip"
                        pattern="[0-9]{5}|[0-9]{5}-[0-9]{4}"
                        placeholder="12345 or 12345-6789" />
                    <label for="tradeSchoolZip" class="input-sub-label">Zip/Postal</label>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col inputs-group">
                    <label for="tradeSchoolYearsAttended" class="input-label">Years Attended</label>
                    <input
                        name="application[trade_school_years_attended]"
                        type="text"
                        class="input-text"
                        id="tradeSchoolYearsAttended"
                        pattern="[0-9]{4}-[0-9]{4}"
                        placeholder="Start year-End year" />
                </div>
                <div class="col inputs-group">
                    <label for="graduatedTradeSchool" class="input-label">Did you graduate?</label>
                    <select name="application[graduated_trade_school]" class="input-text" id="graduatedTradeSchool">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="Still Attending">Still Attending</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-section">
        <h4>General Information</h4>
        <div class="inputs-group">
            <label for="specialTraining" class="input-label">Special Training</label>
            <textarea
                name="application[special_training]"
                class="input-text"
                id="specialTraining"
                style="resize: none; min-height: 10vh;"></textarea>
        </div>
        <div class="inputs-group">
            <label for="specialSkills" class="input-label">Special Skills</label>
            <textarea
                name="application[special_skills]"
                class="input-text"
                id="specialSkills"
                style="resize: none; min-height: 10vh;"></textarea>
        </div>
        <div class="inputs-group">
            <label for="specialResearch" class="input-label">Special Study / Research Work</label>
            <textarea
                name="application[special_research]"
                class="input-text"
                id="specialResearch"
                style="resize: none; min-height: 10vh;"></textarea>
        </div>
        <div class="inputs-group">
            <label class="input-label">Have you served in the US Military?</label>
            <div class="input-radio-container">
                <div class="input-radio-element">
                    <input
                        name="application[served_military]"
                        type="radio"
                        id="servedMilitaryYes"
                        value="Yes"
                        style="margin-right: 5px;" />
                    <label for="servedMilitaryYes">Yes</label>
                </div>
                <div class="input-radio-element">
                    <input
                        name="application[served_military]"
                        type="radio"
                        id="servedMilitaryNo"
                        value="No"
                        style="margin-right: 5px;" />
                    <label for="servedMilitaryNo">No</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-section">
        <h4>Former Employers</h4>
        <p>List up to 4 of your most recent employers, most recent first</p>
        <div id="formerEmployers" data-ajax-update-mode="append">
            {% partial '@former_employer' %}
        </div>
        <button class="submit-btn" style="margin-bottom: 10px;" onclick="handleEmployerAjax()">Add Employer</button>
    </div>
    <div class="form-section">
        <h4>References</h4>
        <p>List up to 3 references, not related to you, whom you have known for at least one year</p>
        <div id="references" data-ajax-update-mode="append">
            {% partial '@references' %}
        </div>
        <button class="submit-btn" style="margin-bottom: 10px;" onclick="handleReferenceAjax()">Add Reference</button>
    </div>
    <div class="g-recaptcha" style="margin: 5px 0 15px 0;" data-callback="recaptchaCallback" data-sitekey="{{ settings.site_key }}"></div>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl={{ settings.lang }}"></script>
    <button type="submit" class="submit-btn" data-attach-loading>Submit</button>
</div>
<script>
    addEventListener('popstate', function(e) {
        window.location.reload();
    });

    let employerIndex = 1;
    function handleEmployerAjax() {
        if (employerIndex < 4) {
            oc.request('#formerEmployers', 'onAddEmployer', {
                data: {ind: employerIndex}
            });
            employerIndex++;
        }
        event.preventDefault();
    }

    let referenceIndex = 1;
    function handleReferenceAjax() {
        if (referenceIndex < 3) {
            oc.request('#references', 'onAddReference', {
                data: {ind: referenceIndex}
            });
            referenceIndex++;
        }
        event.preventDefault();
    }

    function onRemove(type) {
        let container = event.srcElement.parentNode;
        if (container.classList.contains('btn-cover')) {
            container.parentNode.parentNode.remove();
        } else if (container.classList.contains('remove-btn')) {
            container.parentNode.remove();
        } else {
            container.remove();
        }
        if (type === 'former_employer') {
            employerIndex = reIndex('former-employer-group');
        } else if (type === 'reference') {
            referenceIndex = reIndex('reference-group');
        }
    }

    function reIndex(className) {
        let fieldGroups = document.getElementsByClassName(className);
        for (let i = 0; i < fieldGroups.length; i++) {
            let fields = fieldGroups[i].getElementsByClassName('input-text');
            for (let j = 0; j < fields.length; j++) {
                let fieldName = fields[j].getAttribute('name');
                let index = fieldName.indexOf('[');
                fields[j].setAttribute('name', fieldName.substring(0, index+1) + i + fieldName.substring(index+2));
            }
        }
        return fieldGroups.length;
    }

    // Validate date field minimum date
    let startDate = document.getElementById('startDate');
    startDate.min = new Date().toLocaleDateString('fr-ca');

    let previousDate = document.getElementById('appliedWhen');
    previousDate.max = new Date().toLocaleDateString('fr-ca');

    // Click Event Listeners

    // Display another field based on radio selection
    let currentlyEmployedYes = document.getElementById('currentlyEmployedYes');
    currentlyEmployedYes.addEventListener("click", displayElement, false);
    currentlyEmployedYes.idParam = 'contactEmployer';
    currentlyEmployedYes.displayParam = true;

    // Hide another field based on radio selection
    let currentlyEmployedNo = document.getElementById('currentlyEmployedNo');
    currentlyEmployedNo.addEventListener("click", displayElement, false);
    currentlyEmployedNo.idParam = 'contactEmployer';
    currentlyEmployedNo.displayParam = false;

    // Display another field based on radio selection
    let contactEmployerYes = document.getElementById('contactEmployerYes');
    contactEmployerYes.addEventListener("click", displayElement, false);
    contactEmployerYes.idParam = 'employerInfo';
    contactEmployerYes.displayParam = true;

    // Hide another field based on radio selection
    let contactEmployerNo = document.getElementById('contactEmployerNo');
    contactEmployerNo.addEventListener("click", displayElement, false);
    contactEmployerNo.idParam = 'employerInfo';
    contactEmployerNo.displayParam = false;

    // Display another field based on radio selection
    let previouslyAppliedYes = document.getElementById('previouslyAppliedYes');
    previouslyAppliedYes.addEventListener("click", displayElement, false);
    previouslyAppliedYes.idParam = 'appliedWhenContainer';
    previouslyAppliedYes.displayParam = true;

    // Hide another field based on radio selection
    let previouslyAppliedNo = document.getElementById('previouslyAppliedNo');
    previouslyAppliedNo.addEventListener("click", displayElement, false);
    previouslyAppliedNo.idParam = 'appliedWhenContainer';
    previouslyAppliedNo.displayParam = false;

    // Show another field based on radio selection
    let attendedCollegeYes = document.getElementById('attendedCollegeYes');
    attendedCollegeYes.addEventListener("click", displayElement, false);
    attendedCollegeYes.idParam = 'collegeInfo';
    attendedCollegeYes.displayParam = true;
    attendedCollegeYes.displayType = 'block';

    // Hide another field based on radio selection
    let attendedCollegeNo = document.getElementById('attendedCollegeNo');
    attendedCollegeNo.addEventListener("click", displayElement, false);
    attendedCollegeNo.idParam = 'collegeInfo';
    attendedCollegeNo.displayParam = false;
    attendedCollegeNo.displayType = 'block';

    // Show another field based on radio selection
    let attendedTradeSchoolYes = document.getElementById('attendedTradeSchoolYes');
    attendedTradeSchoolYes.addEventListener("click", displayElement, false);
    attendedTradeSchoolYes.idParam = 'tradeSchoolInfo';
    attendedTradeSchoolYes.displayParam = true;
    attendedTradeSchoolYes.displayType = 'block';

    // Hide another field based on radio selection
    let attendedTradeSchoolNo = document.getElementById('attendedTradeSchoolNo');
    attendedTradeSchoolNo.addEventListener("click", displayElement, false);
    attendedTradeSchoolNo.idParam = 'tradeSchoolInfo';
    attendedTradeSchoolNo.displayParam = false;
    attendedTradeSchoolNo.displayType = 'block';

    document.getElementById('formerEmployers').getElementsByClassName("remove-btn")[0].remove();
    document.getElementById('references').getElementsByClassName('remove-btn')[0].remove();

    function displayElement(event) {
        let id = event.currentTarget.idParam;
        let display = event.currentTarget.displayParam;
        let displayType = event.currentTarget.displayType;
        let element = document.getElementById(id);
        if (display) {
            if (displayType == null) {
                element.style.display = 'flex';
            } else {
                element.style.display = displayType;
            }
        } else {
            if (id === 'contactEmployer') {
                document.getElementById('employerInfo').style.display = 'none';
            }
            element.style.display = 'none';
        }
    }
</script>
{{ form_close() }}
