<div class="input-box reference-group">
    <button onclick="onRemove('reference')" class="remove-btn"><i class="fa-solid fa-xmark fa-xl btn-cover"></i></button>
    <div class="row">
        <div class="col inputs-group">
            <label for="referenceName" class="input-label">Name
                <i class="fa-solid fa-asterisk fa-2xs"
                   style="color: lightcoral;"></i></label>
            <input
                name="{{ 'reference[' ~ referenceIndex ~ '][reference_name]' }}"
                type="text"
                id="referenceName"
                class="input-text"
                required />
        </div>
        <div class="col inputs-group">
            <label for="businessName" class="input-label">Business Name</label>
            <input
                name="{{ 'reference[' ~ referenceIndex ~ '][business_name]' }}"
                type="text"
                id="businessName"
                class="input-text" />
        </div>
    </div>
    <div class="row">
        <div class="col inputs-group">
            <label for="referenceStreetAddress" class="input-label">Street Address</label>
            <input
                name="{{ 'reference[' ~ referenceIndex ~ '][reference_street_address]' }}"
                type="text"
                id="referenceStreetAddress"
                class="input-text" />
        </div>
    </div>
    <div class="row">
        <div class="col inputs-group">
            <label for="referenceCity" class="input-label">City</label>
            <input
                name="{{ 'reference[' ~ referenceIndex ~ '][reference_city]' }}"
                type="text"
                id="referenceCity"
                class="input-text" />
        </div>
        <div class="col inputs-group">
            <label for="referenceState" class="input-label">State</label>
            <select name="{{ 'reference[' ~ referenceIndex ~ '][reference_state]' }}" class="input-text" id="referenceState">
                <option value="Maryland">Maryland</option><option value="Alaska">Alaska</option><option value="Alabama">Alabama</option>
                <option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="California">California</option>
                <option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option>
                <option value="District of Columbia">District of Columbia</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option>
                <option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option>
                <option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option>
                <option value="Maine">Maine</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option>
                <option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option>
                <option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option>
                <option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option>
                <option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option>
                <option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option>
                <option value="Pennsylvania">Pennsylvania</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option>
                <option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option>
                <option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virginia">Virginia</option>
                <option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option>
                <option value="Wyoming">Wyoming</option>
            </select>
        </div>
        <div class="col inputs-group">
            <label for="referenceZip" class="input-label">Zip/Postal</label>
            <input
                name="{{ 'reference[' ~ referenceIndex ~ '][reference_zip]' }}"
                type="text"
                id="referenceZip"
                class="input-text"
                pattern="[0-9]{5}|[0-9]{5}-[0-9]{4}"
                placeholder="12345 or 12345-6789" />
        </div>
    </div>
    <div class="row">
        <div class="col inputs-group">
            <label for="referencePhoneNumber" class="input-label">Phone Number
                <i class="fa-solid fa-asterisk fa-2xs"
                   style="color: lightcoral;"></i></label>
            <input
                name="{{ 'reference[' ~ referenceIndex ~ '][reference_phone_number]' }}"
                type="text"
                id="referencePhoneNumber"
                class="input-text"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}|[0-9]{10}"
                placeholder="123-456-7890"
                required />
        </div>
        <div class="col inputs-group">
            <label for="referenceYearsKnown" class="input-label">Years Known
                <i class="fa-solid fa-asterisk fa-2xs"
                   style="color: lightcoral;"></i></label>
            <input
                name="{{ 'reference[' ~ referenceIndex ~ '][reference_years_known]' }}"
                type="text"
                id="referenceZip"
                class="input-text"
                pattern="[0-9]{}"
                required />
        </div>
    </div>
</div>
