<div class="input-box former-employer-group">
    <button onclick="onRemove('former_employer')" class="remove-btn"><i class="fa-solid fa-xmark fa-xl btn-cover"></i></button>
    <div class="row">
        <div class="col inputs-group">
            <label for="formerEmployerName" class="input-label">Name of Employer</label>
            <input
                name="{{ 'former_employer[' ~ employerIndex ~ '][former_employer_name]' }}"
                type="text"
                id="formerEmployerName"
                class="input-text" />
        </div>
        <div class="col inputs-group">
            <label for="formerEmployerLocation" class="input-label">Location</label>
            <input
                name="{{ 'former_employer[' ~ employerIndex ~ '][former_employer_location]' }}"
                type="text"
                id="formerEmployerLocation"
                class="input-text"
                placeholder="City, State" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="inputs-group">
                <label for="salary" class="input-label">Salary</label>
                <input
                    name="{{ 'former_employer[' ~ employerIndex ~ '][salary]' }}"
                    type="text"
                    id="salary"
                    class="input-text" />
            </div>
            <div class="inputs-group">
                <label for="position" class="input-label">Position</label>
                <input
                    name="{{ 'former_employer[' ~ employerIndex ~ '][position]' }}"
                    type="text"
                    id="position"
                    class="input-text" />
            </div>
        </div>
        <div class="col inputs-group">
            <label for="reasonForLeaving" class="input-label">Reason for Leaving</label>
            <textarea
                name="{{ 'former_employer[' ~ employerIndex ~ '][reason_for_leaving]' }}"
                id="reasonForLeaving"
                class="input-text"
                style="resize: none; height: 100%;"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col inputs-group">
            <label for="timeEmployedStart" class="input-label">When did you start this job?</label>
            <input
                name="{{ 'former_employer[' ~ employerIndex ~ '][time_employed_start]' }}"
                type="text"
                id="timeEmployedStart"
                class="input-text"
                placeholder="Month, Year" />
        </div>
        <div class="col inputs-group">
            <label for="timeEmployedEnd" class="input-label">When did you leave this job?</label>
            <input
                name="{{ 'former_employer[' ~ employerIndex ~ '][time_employed_end]' }}"
                type="text"
                id="timeEmployedEnd"
                class="input-text"
                placeholder="Month, Year" />
        </div>
    </div>
</div>
